.content {
    width: 1440px;
    box-sizing: border-box;
}
.menu {
    box-sizing: border-box;
    width:  1440px;
    height: 83px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu_menu {
    margin-left: 100px;
    width: 618px;
    height: 83px;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.menu_menu-a {
    display: flex;
}
.menu_but {
    width: 372px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    column-gap: 24px;
}
.menu_start {
    background: black;
    color: white;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    width: 163px;
    height: 54px;
}
.title {
    flex-direction: row;
    box-sizing: border-box;
    height: 886px;
    display: flex;
    align-items: center;
}
.content1 {
    width: 448px;
    height: 886px;
    margin-left: 147px;
    box-sizing: border-box;
    margin-top: 154px;
}
.ens{
    margin-top: 32px;
}
.but {
    column-gap: 16px;
    align-items: center;
    box-sizing: border-box;
    margin: 32px 15px;
    display: flex;
    text-align: center;
}
.start {
    width: 163px;
    height: 54px;
    background: #F9C600;
    box-sizing: border-box;
    padding-top: 15px;
}
.sales {
    width: 156px;
    height: 54px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    padding-top: 15px;
}
.yellow {
    margin-left: 205px;
}
.img_girl {
    margin-left: 683px;
    position: absolute;
}
.Trusted {
    width: 547px;
    height: 96px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 450px;
    margin-top: 187px;
    text-align: center;
}
.partners {
    width: 1143px;
    height: 200px;
    margin-left: 128px;
    margin-top: 59px;
}
.green {
    margin-top: 192px;
    margin-left: 32px;
    width: 1376px;
    height: 494px;
    background: #51cdbb;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.content2 {
    margin-left: 20px;
}
.Modern_prod {
    width: 557px;
    height: 120px;
}
.So_teams {
    width: 533px;
    height: 64px;
}
.Sprig {
    width: 711px;
    height: 80px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 191px 350px 57px;
    text-align: center;
}
.start2 {
    margin: 80px 638px;
    width: 163px;
    height: 54px;
    background: #F9C600;
    box-sizing: border-box;
    padding-top: 15px;
    text-align: center;
}
.violet {
    background: #bc78ef;
    width: 1260px;
    height: 537px;
    margin-left: 148px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.img_violet {
    margin-left: -148px;
}
.violet_txt {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.violet_txt1 {
    width: 485px;
    height: 192px;
    margin-top: -120px;
}
.violet_txt2 {
    width: 550px;
    height: 56px;
    margin-top: 100px;
}
.SOLUTIONS {
    width: 593px;
    height: 240px;
    margin: 136px 148px;
}
.Context {
    box-sizing: border-box;
    height: 1300px;
}
.Contextual {
    display: flex;
    justify-content: space-around;
    margin-top: 97px;
}
.Cont_txt {
    width: 484px;
    height: 84px;
    box-sizing: border-box;
}
.Cont_button {
    background: white;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    width: 163px;
    height: 54px;
}
.con_mic {
    width: 228px;
    height: 23px;
}
.vi_qe {
    width: 147px;
    height: 23px;
}
.con_tes {
    background: #fc9e28;
    border-radius: 3px;
    width: 152px;
    height: 23px;
}
.buttons{
    margin: -60px 100px;
}
.how_spr {
    height: 960px;
    background: #f1ece6;
    padding: 96px 122px 0px;
}
.how_spr_t{

    width: 1086px;
}
.how_spr_t_h {
    margin-top: -40px;
}
.context_img {
    display: flex;
    justify-content: space-between;

}
.context {
    box-sizing: border-box;
    width: 588px;
    height: 484px;
    border-top: 1px solid #c8316f;
    column-gap: 10px;
}
.context11 {
    height: 80px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.context12 {
    height: 68px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}
.b_b {
    border-bottom: 1px solid black;
}
.F_s {
    font-size: 25px;
}
.INTEGRATIONS {
    margin-top: 160px;
    display: flex;
    justify-content: space-between;
}
.INTEGRATIONS1 {
    width: 678px;
    height: 418px;
    margin-left: 148px;
}
.start3 {
    width: 208px;
    height: 54px;
    background: #F9C600;
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
}
.CASE_STUDY {
    width: 1376px;
    height: 584px;
    margin: 240px 32px 46px 32px;
    display: flex;
    justify-content: space-between;
    background: #f1ece6
}
.CASE_STUDY1 {
    width: 562px;
}
.CASE_STUDY1 {
    width: 329px;
    height: 424px;
    margin: 80px 117px;
}
.start4 {
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    width: 140px;
    height: 54px;
    text-align: center;
    padding-top: 16px;
}
.Daniel_Layfield {
    width: 794px;
    background: #f8c501;
}
.Daniel_Layfield1 {
    width: 562px;
    height: 400px;
    position: absolute;
    margin-top: -100px;
    margin-left: 116px;
}
.Daniel_Layfield2 {
    font-size: 39px;
}
.Daniel_Layfield3 {
    display: flex;
    margin-top: 46px;
}
.Daniel_Layfield4 {
    margin-top: 24px;
}
.black {
    background: #0b2330;
    height: 421px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding: 53px;
    border-bottom: 2px solid #f8c501;
}
.black1 {
    font-size: 40px;
}
.black2 {
    width: 642px;
    font-size: 20px;
    margin: 35px 343px;
}
.black3 {
    width: 163px;
    height: 54px;
    background: #F9C600;
    box-sizing: border-box;
}
.black_and {
    background: #0b2330;
    height: 675px;
    box-sizing: border-box;
    color: white;
    padding: 80px 32px;
    display: flex;
}
.black_and1 {
    display: flex;
}
.black_and3 {
    margin-right: 110px;
}
.black_and4 {
    align-items: center;
    width: 196px;
    height: 290px;
    margin: 0px 40px;
}
.black_and5 {
    color: #F9C600;
}
.pad18 {
    padding-top: 18px;
}
.bord {
    border: 1px solid #fc9e28;
}
.black_and2 {
    width: 1022px;
    height: 28px;
    margin: -100px 268px;
    display: flex;
    color: white;
    justify-content: space-between;
}
